:root {
    --stc-light-blue-01: #EDF8FC;
    --stc-blue-02: #E7F4F9;
    --stc-blue-03: #00629B;
    --stc-gray-01: #EFEFEF;
    --stc-gray-02: #C4C4C4;
    --stc-gray-03: #999;
    --stc-white: #FFFFFF;
    --stc-orange-01: #FFD6B0;
    --stc-orange-02: #FF8200;
}

.active {
    pointer-events: none;
    color: #999;
}